<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>
<a href="http://127.0.0.1:3001/show/info">首页</a>
<span>
<a href="http://127.0.0.1:3001/register">注册</a>
</span>
</h1>

<h2>
<a href="http://127.0.0.1:3001/sign/in">爬虫</a>
<span>
    <a href="http://127.0.0.1:3001/tools/box" target="_blank">工具箱</a>
</span>
<a href="http://127.0.0.1:3001/user/list" target="_blank">用户列表</a>
</h2>

<div>反馈意见：</div>
<textarea rows="5"></textarea>

</body>
</html>