<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
  <thead>
      <tr>
      <th>工具</th>
      <th>功能</th>
      <th>图标</th>
      <th>网址</th>
      <th>评分</th>
      </tr>
  </thead>
  <tbody>
      <tr>
      <td>宝阳阅读</td>
      <td>图书下载</td>
      <td> <img src='/photo/宝阳.png' style='height:50px;width:50px'></td>
      <td><a href="https://www.mq59.com/index/search/index.html" target="_blank">点击跳转</a></td>
      <td>95</td>
      </tr>
      <tr>
      <td>Github</td>
      <td>分布式版本管理</td>
      <td> <img src='/photo/github.png' style='height:50px;width:50px'></td>
      <td><a href='https://github.com/dashboard' target="_blank">点击跳转</a></td>
      <td>91</td>
      </tr>
      <tr>
      <td>Deepseek</td>
      <td>AI工具</td>
      <td> <img src='/photo/deepseek.png' style='height:50px;width:50px'></td>
      <td><a href="https://chat.deepseek.com/" target="_blank">点击跳转</a></td>
      <td>90</td>
      </tr>
  </tbody>
</table>

</body>
</html>